.error {
  color: red;
}

.layout-wrapper {
  display: grid;
  grid-template-rows: 80px auto 3rem;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  min-height: 88vh;
  margin-top: 4rem;
}

footer {
  grid-area: footer;
  background-color: black;
  color: #fff;
  padding: 1rem;
}
